/* main.css file
Author: Bryce Mercines 2018*/

.dark-border-0{border:0!important}.dark-border{border:1px solid #ddd!important}
.dark-border-top{border-top:1px solid #ddd!important}.dark-border-bottom{border-bottom:1px solid #ddd!important}
.dark-border-left{border-left:1px solid #ddd!important}.dark-border-right{border-right:1px solid #ddd!important}

.tool_state {
	margin:10px;
	float: left;
	}


/*editor css*/

 #editor { 
        height: 100vh;
        width: 100vw;
        display: none;
        border: 0px;

    }

#about {
	display: none;
}
